In [1]:
from __future__ import print_function

import pandas as pd
pd.__version__

'0.23.4'

In [29]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
city_population = pd.Series([182500, 93409, 65812])

df = pd.DataFrame({'City': city_names, 'Population': city_population})

df['Area square miles'] = pd.Series([46.76, 76.19, 197.32])
#df['Population density'] = df['Population'] / df['Area square miles']
#df['Population density']
city_population.apply(lambda val: val > 100000)

df['Big Area And Named After Saint'] = (df['Area square miles'] > 50) & (city_names.apply(lambda name: name.startswith('San')))
df['Big Area And Named After Saint']

0    False
1     True
2    False
Name: Big Area And Named After Saint, dtype: bool

In [10]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep = ",")
#california_housing_dataframe.head
california_housing_dataframe.hist('housing_median_age')

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x11c3b60f0>]],
      dtype=object)

In [40]:
#city_names.index
#df.index
#df.reindex([2,0,1])

df.reindex(np.random.permutation(df.index))

#Reindex allows for non-existent indices as well
df.reindex([4,0,5,2,3,1])

            City  Population  Area square miles Big Area And Named After Saint
4            NaN         NaN                NaN                            NaN
0  San Francisco    182500.0              46.76                          False
5            NaN         NaN                NaN                            NaN
2     Sacramento     65812.0             197.32                          False
3            NaN         NaN                NaN                            NaN
1       San Jose     93409.0              76.19                           True